<h2>Reestablecer Contraseña:</h2>
<hr>
<form action="/resetPassword" method="post">
    <input type="email" name="email" placeholder="correo electrónico">
    <br><br>
    <input type="submit" value="Continuar">
</form>
<br><br>

