<h2>Solicitud Reseteo de Contraseña:</h2>
<hr>
<form action="/resetPassword/{{token}}" method="post">
    <input type="password" name="password" placeholder="Nueva contraseña">

    <br><br>
    <input type="submit" value="Reestablecer Contraseña">
</form>
<br><br>

